.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 250px;
  background-color: #c5e3ec;
  min-height: 90vh;
  gap: 25px;
}
h1 {
  text-shadow: 0 0 0px #fff, 5px 5px 1px hsla(195, 100%, 39%, 0.3),
    -5px -5px 1px hsla(345, 76%, 58%, 0.3);
  color: #808080;
}
.matrix-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 5px;
  width: 100%;
}
.matrix-container .matrix-item {
  background-color: #0094c6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: bold;
  font-size: 1.4rem;
  color: #fff;
  text-shadow: 2px 2px 1px #e5446d;
  user-select: none;
  cursor: pointer;
  transition: all 100 ease-in-out;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
}
.matrix-container .matrix-item.red {
  background-color: #e5446d;
  background-image: url("box.png");
  background-size: 40px;
  transition: all 100ms ease-in-out;
  background-position: top 15px center;
  background-repeat: no-repeat;
  padding-top: 50px;
}

strong {
  font-family: "Rock Salt", cursive;
  color: #808080;
}
@media only screen and (max-width: 768px) {
  .App {
    padding: 1rem;
  }
}
